@media screen and (max-width: 320px) and (orientation: portrait){
  header{
    font-size: 10px;
    height: 65px;
  }

  nav{
    font-size: 18px;
    height: 25px;
    text-shadow: 1px 1px #66143D;
    word-spacing: 5px;
  }

  section{
    font-size: 9px;
  }

  aside{
    font-size: 12px;
    font-style: italic;
  }

  img{
    height: 150px;
    width: 100px;
    }

  aside h4{
      font-size: 10px;
  }
  input[type=button]{
      width: 30px;
      height: 15px;
      font-size: 5px;
  }
  video{
      width: 150px;
      height: 100px;
  }
  #googleMap{
  width: 150px;
  height: 100px;
  margin : 5%;
}
}

@media screen and (max-width: 481px){
  header{
    font-size: 13px;
    height: 80px;
  }

  nav{
    font-size: 20px;
    height: 30px;
    text-shadow: 1px 1px #66143D;
    word-spacing: 8px;
  }

  section{
    font-size: 15px;
  }
  aside{
    font-size: 17px;
    font-style: italic;
  }
  img{
    height: 200px;
    width: 100px;
    }

  aside h4{
      font-size: 13px;
  }
  input[type=button]{
      width: 40px;
      height: 25px;
      font-size: 8px;
  }
  video{
      width: 200px;
      height: 150px;
      margin: 5%;
  }
  #googleMap{
  width: 200px;
  height: 150px;
  margin : 5%;
}
}

@media screen and (max-width: 1024px) {
  header{
    font-size: 15px;
    height: 100px;
  }

  nav{
    font-size: 27px;
    height: 40px;
    text-shadow: 2px 2px #66143D;
    word-spacing: 8px;
  }

  section{
    font-size: 18px;
  }

  aside{
    font-size: 20px;
    font-style: italic;
  }

  img{
    height: 250px;
    width: 150px;
    }

  aside h4{
      font-size: 16px;
  }
  input[type=button]{
      width: 40px;
      height: 25px;
      font-size: 8px;
  }
  video{
      width: 250px;
      height: 200px;
      margin: 5%;
  }
  #googleMap{
  width: 250px;
  height: 200px;
  margin : 5%;
}

}

@media screen and (min-width: 1025px) and (orientation: landscape) {
  header{
    font-size: 20px;
    height: 100px;
  }

  nav{
    font-size: 30px;
    height: 40px;
    text-shadow: 2px 2px #66143D;
    word-spacing: 12px;
  }

  section{
    font-size: 18px;
  }

  aside{
    font-size: 20px;
    font-style: italic;
  }

  img{
    height: 400px;
    width: 280px;
    }

  aside h4{
      font-size: 19px;
  }
  input[type=button]{
      width: 130px;
      height: 40px;
      font-size: 16px;
  }
  video{
      width: 400px;
      height: 300px;
      margin: 5%;
  }
  #googleMap{
  width: 350px;
  height: 250px;
  margin : 5%;
}


}

body{
  background-image: url(images/board2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: calibri;
}

#ggpu {
  display: none;
  z-index: -1000;
}

#page{
  width: 75%;
  margin-left: auto;
  margin-right: auto;

}

header , nav , aside , section , footer{
  background-image: url(images/wh.png);
  background-position: center;
  background-size: cover;
}

header{
  width: 100%;
  text-align: center;
}

header h1{
  color: #0033CC;
  line-height: 0px;
  vertical_align: middle;
  text-shadow: 2px 2px white;
}

nav {
  width: 100%;
  text-align: center;
}
nav a:link , nav a:visited{
  color: #0033CC;
  text-decoration: none;
}

nav a:hover{
  color: red;
  text-decoration: none;
}


nav a:active{
  color: #0033CC;
  text-decoration: none;
}

aside , section{
  margin-top: 1%;
}
/*
input{
  background-image: url(images/button.png);
  background-position: center;
  background-size: cover;
}
*/

section{
  float: left;
  width: 100%;
/*  left: 20%;*/
  height: auto;
}

footer{
  width: 100%;
  height: 4%;
  float: left;
  margin-top: 10px;
  text-align: center;
  text-decoration: strong;
}

section p {
  margin-left: 1%;
  margin-right: 1%;
}

ul {
  text-decoration: underline;
}

section figure #left{
  float: left;
  margin-left: -2%;
  margin-right: 2%;
}

section figure #right{
  float: right;
  margin-left: 2%;
  margin-right: -2%;
}


#left , #right{
  font-style: italic;
  text-decoration: underline;
  color: #7A29CC;
  text-shadow: 1px 1px white;
}
/*
section h1,h2,h3,h4{
  text-align:center;
}
*/

section h1,h2,h3,h4{
  margin-left: 1%;
}

section p {
  text-indent: 2%;
}


#f1 , #f2, #f3{
  border: 2px solid #fff;
}

#info{
    color: blue;
}
